* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #D0D0D0;
    width:100%;
    color: black;
    text-align:center;
    margin:0 auto;
    position:fixed;
    top:0;
    z-index:1;
}

header .title{
    margin-left:20px;
    font-size:2em;
    font-family:Arial;
    font-weight:bold;
    height:80px;
}
header .title p {
    line-height: 80px;
    font-family: 'Dancing Script', cursive;
    font-size:2em;
}
header nav{
    display:flex;
    margin-left:20px;
    justify-content:center;
}
header a {
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 2em;
    font-family: DFKai-SB;
    text-align: center;
    color: #5B5B00;
}
header a:hover {
    color: #424200;
    text-decoration-line: underline;
}

article {
    width: 800px;
    margin: 20px auto;
}
.articleTitle {
    font-family: DFKai-SB;
    font-size: 2em;
    font-weight:bold;
    color: #5B5B00;
}
#tb1 {
    border: 3px solid #2894FF;
    border-collapse: collapse;
    background-color: lightblue;
    
}
 #tb1 td {
    border: 2px solid #2894FF;
    padding: 5px;
    color: red;
    font-size:2em;
}
 
.article2 fieldset {
    width: 100%;
    height: 400px;
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    padding: 0 20px;
}

.article2 legend {
    font-size: 2em;
    font-family:Arial;
    font-weight:900;
    margin-left: 20px;
    padding: 0 20px;
}
.article2 fieldset .formdiv label, fieldset .formdiv input{
    font-size:30px;
    font-family:DFKai-SB;
}
.article2 .formdiv {
    border-bottom: 2px dashed #BEBEBE;
    margin: 20px 20px;
    padding-bottom: 20px;
}
.article2 .formdiv span img{
    width:30px;
}
.article2 .form1 p {
    font-size: 16px;
    font-family:DFKai-SB;
    margin:5px;
    color: #BEBEBE;
}
.article2 .form1 span{
    font-size:30px;
    font-family:DFKai-SB;
}


.article3 .container2{
    width:100%;
    background-color: #E0E0E0;
    font-family:DFKai-SB;
    font-size:2em;
}
.article3 .container1{
    display:flex;
    justify-content:center;
    width:100%;
}
.article3 .stardiv{
    width:160px;
}

.article3 img{
    width:100%;
    filter:grayscale(1);
}
.article3 .clickmethod{
    font-style:italic;
}

.article4 fieldset {
    width: 100%;
    border: 5px solid #9D9D9D;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    padding: 10px 20px;
}

.article4 legend {
    font-size: 2em;
    font-family: Arial;
    font-weight: 900;
    margin: auto;
    padding: 0 20px;
}

.article4 .imgdiv{
    width:90%;
    height:525px;
    overflow:hidden;
    margin:0 auto;
    position:relative;
}
.article4 .imgdiv img{
    width:720px;
    height:525px;
    position:absolute;
    right:0;
}
.article4 .imgdiv img:hover {
    cursor:pointer;
}
.article4 .itemsdiv{
    width:60%;
    margin:0 auto;
}
.article4 .itemsdiv .selectdiv{
    display:flex;
    justify-content:center;
}
.article4 .itemsdiv .selectdiv img{
    width:10px;
    margin:10px;
    transition: transform 0.2s;
}
.article4 .itemsdiv .selectdiv img:hover {
    cursor:pointer;
    transform:scale(1.5, 1.5);
}
.article4 .itemsdiv .updowndiv{
    display:flex;
    justify-content:space-between;
}
.article4 .itemsdiv .updowndiv img{
    width:50px;
}
.article4 .itemsdiv .updowndiv img:hover {
    cursor: pointer;
}

.article5{
    background-color:lightslategray;
    padding:10px 0;
}

.article5 .box1 {
    width: 90%;
    margin: auto;
    padding:10px 20px;
    background-color: #F0F0F0;
    border-radius:20px;
}
.article5 .box2{
    display:flex;
    justify-content:center;
    margin:10px auto;
}
.article5 .box2 .box3{
    width:50%;
}
.article5 .box2 .box4{
    width: 50%;
}
.article5 .box2 .welcome  {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color: #707038;
}
.article5 .box2 .box3 select{
    width:23%;
    height:2em;
}
.article5 .box2 .box3 span{
    font-family:DFKai-SB;
    font-size:1.6em;

}

.article5 .box3 table {
    width: 95%;
    text-align: right;
    margin: 20px 0;
   /* border: 1px solid #707038;
    border-collapse:collapse;*/
    table-layout:fixed;
}
.article5 .box3 table .daytr th {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    background-color: #707038;
    color: white;
    padding: 5px 10px 5px 0;
}

.article5 .box3 table tbody td{
    font-family: 'Dancing Script', cursive;
    font-size:1em;
    /*border:1px solid #707038;*/
    padding:5px 10px 5px 0;
}
/*.article5 table th, .article5 table td{
    width:50px;
}  */

.article5 .box2 .box4 .informationTitle {
    background-color: #707038;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    padding-left: 10px;
}
.article5 .box2 .box4 .informationContent {
    height: 300px;
    border: 1px solid #ADADAD;
    padding: 5px;
    font-family:DFKai-SB;
    font-size:1.2em;
    font-weight:bold;
}

/*body{
    position:relative;
}*/
.footer{
    background-color:#D0D0D0;
    position:relative;
    /*bottom:0;*/
    margin-top:-100px;
    width:100%;
}
.footer>div{
    display:flex;
    justify-content:center;
    align-items:center;
}
.footerimgdiv, .aboutme{
    margin:0 20px;
}
.footer .aboutme .name{
    font-size:1.5em;
    font-family:DFKai-SB;
    color:black;
}

.footer .aboutme span {
    font-family: 'Dancing Script', cursive;
}


.footer .aboutme a {
    text-decoration: none;
    font-size: 1em;
    color: #5B5B00;
    font-family: 'Dancing Script', cursive;
    margin:50px 20px 0 0;
}

.footer .aboutme a:hover {
    transform:scale(2);
    color: #424200;
}

.footer .footerimgdiv{
    width:100px;
}

.footer .footerimgdiv img{
    width:100%;
    transform:rotate(-45deg);
    display:block;
}
hr {
    margin: 130px auto 150px;
}
.goTop{
    position:fixed;
    right:0;
    bottom:30%;
}
