* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #D0D0D0;
    width:100%;
    color: black;
    text-align:center;
    margin-bottom:100px;
    /*position:sticky;
    top:0;*/
}
header .title{
    margin-left:20px;
    font-size:2em;
    font-family:Arial;
    font-weight:bold;
    height:80px;
}
header .title p {
    line-height: 80px;
    font-family: 'Dancing Script', cursive;
    font-size:2em;
}
header nav{
    display:flex;
    margin-left:20px;
    justify-content:center;
}
header a {
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 2em;
    font-family: DFKai-SB;
    text-align: center;
    color: #5B5B00;
}
header a:hover {
    color: #424200;
    text-decoration-line: underline;
}

article {
    width: 800px;
    margin: 20px auto;
}
#tb1 {
    border: 3px solid #2894FF;
    border-collapse: collapse;
    background-color: lightblue;
    
}
 #tb1 td {
    border: 2px solid #2894FF;
    padding: 5px;
    color: red;
    font-size:2em;
}
 
.article2 fieldset {
    width: 100%;
    height: 400px;
    border: 5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    padding: 0 20px;
}

.article2 legend {
    font-size: 2em;
    font-family:Arial;
    font-weight:900;
    margin-left: 20px;
    padding: 0 20px;
}
.article2 fieldset .formdiv label, fieldset .formdiv input{
    font-size:30px;
    font-family:DFKai-SB;
}
.article2 .formdiv {
    border-bottom: 2px dashed #BEBEBE;
    margin: 20px 20px;
    padding-bottom: 20px;
}
.article2 .formdiv span img{
    width:30px;
}
.article2 .form1 p {
    font-size: 16px;
    font-family:DFKai-SB;
    margin:5px;
    color: #BEBEBE;
}
.article2 .form1 span{
    font-size:30px;
    font-family:DFKai-SB;
}
.articleTitle {
    font-family: DFKai-SB;
    font-size: 2em;
    color: #5B5B00;
}

.article3 .container2{
    width:100%;
    background-color: #E0E0E0;
    font-family:DFKai-SB;
    font-size:2em;
}
.article3 .container1{
    display:flex;
    justify-content:center;
    width:100%;
}
.article3 .stardiv{
    width:160px;
}

.article3 img{
    width:100%;
    filter:grayscale(1);
}
.article3 .clickmethod{
    font-style:italic;
}

.article4 fieldset {
    width: 100%;
    border: 5px solid #9D9D9D;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    padding: 10px 20px;
}

.article4 legend {
    font-size: 2em;
    font-family: Arial;
    font-weight: 900;
    margin: auto;
    padding: 0 20px;
}

.article4 .imgdiv{
    width:90%;
    margin:0 auto;
}
.article4 .imgdiv img{
    width:100%;
}
.article4 .imgdiv img:hover {
    cursor:pointer;
}
.article4 .itemsdiv{
    width:60%;
    margin:0 auto;
}
.article4 .itemsdiv .selectdiv{
    display:flex;
    justify-content:center;
}
.article4 .itemsdiv .selectdiv img{
    width:10px;
    margin:10px;
}
.article4 .itemsdiv .selectdiv img:hover {
    cursor:pointer;
}
.article4 .itemsdiv .updowndiv{
    display:flex;
    justify-content:space-between;
}
.article4 .itemsdiv .updowndiv img{
    width:50px;
}
.article4 .itemsdiv .updowndiv img:hover {
    cursor: pointer;
}
.article5{
    background-color:lightslategray;
}

.article5 .box1{
    width:59%;
}

hr{
    margin:100px 0;
}
.goTop{
    position:fixed;
    right:0;
    bottom:30%;
}
